{% extends "usuarios/base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/usuarios/homeAuthenticated/style.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<section>
    <div>
        <h2>Bem-vindo {{ request.user.nome.split.0.capitalize }}</h2>
        <p>Seja bem-vindo ao sistema de ponto eletrônico.</p>
        <h3>Seus dados:</h3>
        <p>Nome: {{ request.user.nome }}</p>
        <p>CPF: {{ request.user.cpf }}</p>
        <p>Empresa: {{ request.user.empresa.nome }}</p>
    </div>
    <div>
        <h3>Seus registros de ponto hoje:</h3>
        {% for ponto in pontos %}
          <p>{{ ponto.hora }}</p>
        {% endfor %}
        
        <form action="{% url 'ponto' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Registrar ponto" class="botao-registrar">
        </form>

        <h3>Tempo trabalhado hoje: <span> {{ horas_trabalhadas }} </span></h3>
        <h3>Tempo restante até o fim do expediente <span> {{ tempo_restante }} </span></h3>
    </div>
</section>
{% endblock %}
